/* toppage */

.toppage {
    margin: 10px;
    font-size: large;
    /* width: 20%; */
    display: flex;
    flex-direction: column;
}

.toppage h1 {
    text-decoration: underline;
    font-style: italic;
}

.toppage input {
    font-size: 20px;
    width: 10%;
    height: 30px;
    margin-bottom: 30px;
}

.btntop button {
    height: 40px;
    width: 200px;
    font-size: 20px;
    font-style: italic;
}